.the-crypto-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 77%;
}

.crypto-box, .comment-box {
  width: 50%;
}

.crypto-main-box, .crypto-info-box, .show-comment-box {
  padding: 20px;
}

.show-comment-box {
  overflow: scroll;
  height: 90vh;
  border: solid 1px black;
  border-radius: 1px;
  background-color: lightblue;
}

::-webkit-scrollbar {
  width: 10px;
  background: lightblue
}

::-webkit-scrollbar-thumb {
  background: black;
  width: 2px
}

::-webkit-scrollbar-track {
  background: lightblue;
}

.crypto-info-box h5 {
  font-family: $headers-font;
  font-weight: 800;
  font-size: 14px;
  border-bottom: solid 1px #ccc;
}

.crypto-info-box li {
  margin-bottom: 10px;
}

.comment-box li {
  border-bottom: solid 1px black;
  padding: 10px 0;
}

.comment-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-a {
  display: flex;
}

.time-ago {
  font-style: italic;
  font-size: 10px;
}

.username-comment {
  margin-left: 10px;
}

.username-comment a {
    color: black!important;
}

.add-comment-box {
  margin: 20px 0;
}

.crypto-text-field {
    width: 100%;
    margin: 20px 0;
    height: 10vh
}

@media(max-width: 600px) {

  .the-crypto-wrapper {
    flex-wrap: wrap;
    width: 100%;
  }

  .crypto-box, .comment-box {
    width: 90%;
    margin: auto;
  }

  .crypto-main-box {
    text-align: center;
}

  .crypto-info-box ul {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .crypto-info-box h5 {
    font-size: 12px;
    border: none;
  }

  .comment-actions {
    display: block;
  }

  .c-a {
    margin-bottom: 20px;
  }

  .crypto-info-box li {
    font-size: 12px;
  }

  .add-comment-box {
    text-align: center;
  }

  .add-comment-box h5 {
    font-size: 15px;
  }
}
