.cryptos-wrapper {
  width: auto;
  margin: auto;
}

.search-wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  position: fixed;
  width: auto;
  right: 0px;
}

.search-wrapper input, .search-confirm, .show-all {
  color: black;
  background-color: inherit;
  border: solid 1px black;
  margin: 0 0 10px 0!important;
  transition: 0.3s ease;
}

.search-wrapper .form-control {
  width: 85%!important;
}

.search-confirm:hover, .show-all:hover {
  background-color: black;
  color: white;
  transition: 0.3s ease;
}

.cryptos-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cryptos-inner table th, .cryptos-inner table td {
  padding: 0px 30px 0px 0px!important;
}

table a {
  color: black!important
}



@media (max-width: 600px) {

  .cryptos-inner table th, .cryptos-inner table td {
  padding: 0px 30px 30px 0px!important;
}


.symbol_column, .volume_24h_column, .percent_change_7d_column, .percent_change_30d_column, .market_cap_column {
  display: none;
}

.percent_change_1h_column, .percent_change_1d_column {
  font-size: 12px
}

.cryptos-inner {
  display: block;
  margin: 0 20px;
}

.search-wrapper {
  display: none;
}

}
