// Import page-specific CSS files here.
@import "home";
@import "login";
@import "cryptos";
@import "crypto";
@import "users";
@import "user";
@import "wallet";

body {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-font-smoothing: antialiased
}

main {
  max-width: 1200px;
  margin: auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

@media (max-width: 1000px) {

  main {
    max-width: 600px
  }

}

@media (max-width: 600px) {

  main {
    width: 100%
  }


}
