// Import page-specific CSS files here.
@import "home";
@import "login";
@import "cryptos";
@import "crypto";
@import "users";
@import "user";

body {
  overflow-x: hidden
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}
