.the-user-wrapper {
    display: flex;
    justify-content: center;
}

.user-inner {
  text-align: center;
  background: lightblue;
  border: solid 1px black;
  border-radius: 10px;
  width: 50%;
  padding: 20px;
  position: relative;
}

.user-inner .edit-user {
  position: absolute;
  top: -10px;
  left: -10px;
}

.user-inner img, h1 {
  margin: 20px 0
}

.user-inner p {
  margin: 10px 0 0 0;
}

.user-inner .avatar {
  width: 200px;
  height: 200px;
}

.user-inner h1 {
  text-transform: initial;
}

.user-inner ul li a {
  color: black;
  font-weight: 600;
}

.user_bio {
  font-style: italic;
  font-size: 10px
}


@media (max-width: 600px) {

  .user-inner {
    width: 95%;
    margin: 10px auto;
  }

}
