.wallet-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 75%;
    /*margin: auto;*/
    margin-top: 20px;
}
.table-wallet {
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightblue;
    padding: 20px;
    width: 75%;
    border: solid 1px black;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
}
.form-group.select.required{
    margin-right: 10px;
}
.form-group.integer.optional{
    margin-right: 10px;
}
.form-control.select.required{
    margin-left: 10px;
}
.form-control.numeric.integer.optional{
    margin-left: 10px;
}

.title-content-wallet{
    padding-left: 20px;
}
.content-wallet{
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    align-items: center;
    background: lightblue;
    width: 75%;
    border: solid 1px black;
    border-radius: 5px;
    margin: auto;
    margin-top: 20px;
    transition: 0.2s ease;
}
.btn-delete-wallet{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 5px;
    width: 100%;
    border: solid 1px black;
    border-radius: 5px;
    margin: auto;
    margin-top: 8px;
    margin-left: 10px;
    transition: 0.2s ease;
}
.btn-delete-wallet:hover {
  background-color: black;
  transition: 0.2s ease;
  color: lightblue;
}

@media (max-width: 800px) {

  .table-wallet table th, .table-wallet table td {
    padding: 0px 30px 30px 0px!important;
  }

  #number, #code, #buying-price, #date, #cost, #dif-percent, #percent-portfolio{
    display: none;
  }

  .number, .symbol, .buying_price, .date, .cost, .dif, .portfolio {
    display: none;
  }

  .crypto, .buying_price, .profit-loss {
    font-size: 12px
  }
  .amount {
    font-size: 12px
  }
  .table-wallet {
    display: block;
    margin: auto;
  }
}
