.wallet-title {
  font-family: $headers-font;
  margin: 20px auto;
  font-weight: 800;
  width: auto;
  border-radius: 10px;
  position: absolute;
  font-size: 1rem;
  top: -40px;
  left: -40px;
}

.wallet-inner {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
  border-radius: 10px;
  padding: 10px 30px;
  width: auto;
  margin: auto;
  margin-top: 20px;
  background: lightblue;
  text-align: center;
}

.form-inline .form-group {
  text-align: center;
  flex-wrap: wrap
}

.form-row {
  width: 100%;
  margin: 20px 0
}

.form-group label {
  margin: 0 10px
}

.form-control {
    margin-left: 10px;
    background-color: lightblue;
    border: solid 1px black;
}

.table-wallet, .table-wallet-overall {
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightblue;
    padding: 20px;
    width: auto;
    border: solid 1px black;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
}

.table-wallet-overall th, .table-wallet-overall th td {
  width: 10vw;
  text-align: center;
}

.table-wallet th {
  font-size: 10px;
    text-align: center;
}

.form-group.select.required{
    margin-right: 10px;
}
.form-group.integer.optional{
    margin-right: 10px;
}
.form-control.select.required{
    margin-left: 10px;
}
.form-control.numeric.integer.optional{
    margin-left: 10px;
}

.content-wallet{
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    align-items: center;
    background: lightblue;
    border: solid 1px black;
    border-radius: 5px;
    margin: auto;
    margin-top: 20px;
    transition: 0.2s ease;
}
.btn-delete-wallet{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 5px;
    width: 100%;
    border: solid 1px black;
    border-radius: 5px;
    margin: auto;
    margin-top: 8px;
    margin-left: 10px;
    transition: 0.2s ease;
}
.btn-delete-wallet:hover {
  background-color: black;
  transition: 0.2s ease;
  color: lightblue;
}

@media (max-width: 1000px) {

  .form-row {
    display: block;
    width: 30%
  }

}

@media (max-width: 600px) {

  .table-wallet table th, .table-wallet table td {
    padding: 0px 30px 30px 0px!important;
  }

  #number, #code, #buying-price, #cost, #date_tab, #dif-percent, #percent-portfolio{
    display: none;
  }

  .number, .symbol, .buying_price, .date_tab, .cost, .dif, .portfolio {
    display: none;
  }

  .crypto, .buying_price, .profit-loss {
    font-size: 12px
  }
  .amount {
    font-size: 12px
  }
  .table-wallet {
    display: block;
  }



  .one, .two, .three {
    margin: 30px auto;
    width: 95%;
  }

  .wallet-title {
    left: auto;
  }

  .form-row {
    display: flex;
    width: 80%;
    justify-content: center;
        margin: 20px auto;
  }


}
