<div class="users-wrapper">


  <div class="users-inner">

  <div class="ranking-title text-center crypto-btn">
  RECO RANKING!
  </div>

  <table>
    <tr>
      <th class="position-column"> # </th>
      <th class="user-column"> User </th>
      <th class="reco-column"> Recos </th>
    </tr>
    <% @users.each do |user| %>
    <tr>
      <td class="position-column">
        <%= (@users.index(user) + 1) %>
      </td>
      <td class="user-column">
        <%= link_to user.username, user_path(user) %>
      </td>
      <td class="reco-column">
        <%= user.recos %>
      </td>
    </tr>
    <% end %>
  </table>

  </div>

</div>
