<h1>Wallet</h1>
<%= @user.username %>
<%= @wallet_inclusions.each %>

<div>
<table>
  <tr>
    <th> Total Invested </th>
    <th> Profit/Loss </th>
    <th> % </th>
  </tr>
    <td> 100000 </td>
    <td> 2000 </td>
    <td> 0,2% </td>
  <tr>
</table>
</div>

<div>
<table>
  <tr>
    <th> # </th>
    <th> Crypto </th>
    <th> Code </th>
    <th> Amount </th>
    <th> Buying Price </th>
    <th> Date </th>
    <th> Cost </th>
    <th> Actual Price </th>
    <th> Dif% </th>
    <th> Profit/Loss </th>
    <th> % of Portfolio </th>
  </tr>
  <tr>
    <td> 1 </td>
    <td> Bitcoin </td>
    <td> BTC </td>
    <td> 100 </td>
    <td> 60000 </td>
    <td> 01/12/2021 </td>
    <td> 6000000 </td>
    <td> 60000 </td>
    <td> 3,44% </td>
    <td> 2000 </td>
    <td> 10% </td>
  <tr>
    <td> 2 </td>
    <td> Etherium </td>
    <td> ETH </td>
    <td> 100 </td>
    <td> 60000 </td>
    <td> 01/12/2021 </td>
    <td> 6000000 </td>
    <td> 60000 </td>
    <td> 3,44% </td>
    <td> 2000 </td>
    <td> 10% </td>
  </tr>
  <tr>
    <td> 3 </td>
    <td> Binance </td>
    <td> BNB </td>
    <td> 100 </td>
    <td> 60000 </td>
    <td> 01/12/2021 </td>
    <td> 6000000 </td>
    <td> 60000 </td>
    <td> 3,44% </td>
    <td> 2000 </td>
    <td> 10% </td>
  </tr>
  <tr>
    <td> 4 </td>
    <td> Cardano </td>
    <td> ADA </td>
    <td> 100 </td>
    <td> 60000 </td>
    <td> 01/12/2021 </td>
    <td> 6000000 </td>
    <td> 60000 </td>
    <td> 3,44% </td>
    <td> 2000 </td>
    <td> 10% </td>
  </tr>
  <tr>
    <td> 5 </td>
    <td> Tezos </td>
    <td> XTZ </td>
    <td> 100 </td>
    <td> 60000 </td>
    <td> 01/12/2021 </td>
    <td> 6000000 </td>
    <td> 60000 </td>
    <td> 3,44% </td>
    <td> 2000 </td>
    <td> 10% </td>
  </tr>
</table>
</div>
