
.crypto-btn, .third-crypto-btn, .second-crypto-btn:hover, .fourth-crypto-btn:hover {
  background-color: lightblue;
  color: black;
  box-shadow: none;
  padding: 7px 10px;
  border: solid 1px black!important;
  transition: 0.2s ease;
  text-decoration: none;
}

.second-crypto-btn, .fourth-crypto-btn, .crypto-btn:hover, .third-crypto-btn:hover {
  background-color: black;
  color: lightblue;
  box-shadow: none;
  padding: 7px 10px;
  border: solid 1px black!important;
  transition: 0.2s ease;
  text-decoration: none;
}

.third-crypto-btn, .fourth-crypto-btn, .fifth-crypto-btn {
  font-size: 10px;
  margin-right: 5px;
}

.fifth-crypto-btn {
  background: red;
  border: solid 1px white;
  padding: 10px 20px;
  color: white;
  transition: 0.5s ease;
}

.fifth-crypto-btn:hover {
  background: white;
  color: red;
  transition: 0.5s ease;
  border: solid 1px black;
}
